# So it can display notifications and open rhythmbox
DISPLAY=":0.0"
XAUTHORITY="/home/jlrg1992/.Xauthority"
XDG_RUNTIME_DIR="/run/user/1000"


# m     h       d   Mo  WD      command
  *     *       *   *   *       rm ~/tmp/* && rm "/home/jlrg1992/Imágenes/Cámara web"
  */5   *       *   *   *       ~/dev-stuff/dot-files/scripts/download-manager

